@import './src/styles/alternate';

.action-container,
.content-container {
  position: relative;
  height: 100vh;
  overflow: auto;
  background-color: #fff;
}

.vertical-container,
.horizontal-container {
  min-height: 0 !important;
}

.action-button {
  box-sizing: border-box;
  width: calc(100% - 16px);
  min-height: 35px;
  padding: 4px 16px;
  margin: 8px;
  border: 1px solid #555;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  line-height: 14px;
  text-align: center;
}

.action-button:hover {
  color: #fff;
  background-color: #555;
}

.swiper-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.swiper-wrap {
  height: 100vh;
  justify-content: center;
  align-items: flex-start;
}

.swiper{
  &-block {
    display: flex;
    flex-direction: column;
    max-width: 30vw;
    &__title {
      font-family: $homeFontBold;
      font-size: 67px;
      line-height: 1em;
    }
    &__subtitle {
      font-family: $homeFontRegular;
      font-size: 40px;
    }
    &__description {
      font-family: $homeFontRegular;
      font-size: 20px;
    }
  }
}

.link {
  font-family: $homeFontRegular;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 255px;
  height: 55px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  letter-spacing: 0.1em;
  font-size: 1rem;
  font-weight: bold;
  margin-right: 20px;
  position: relative;
  z-index:5;
  background-color: transparent;
  transition: color 0.3s ease-out;
}

.wipe {
  transition: color 0.3s ease-out;
  border: 1px solid #fff;
  border-radius: 4px;
  overflow: hidden;
  &::after {
    width: 100%;
    height: 100%;
    display: block;
    background-color: #fff;
    content: " ";
    position: absolute;
    top: 0;
    transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);;
    transform: translateY(55px);
    z-index: -1;
  }
  &:hover {
    color: #124a58;
    &::after {
      transform: translateY(0px);
    }
  }
}
