//----------------------------------*\
// FONTS
//----------------------------------*/
$homeFontRegular: 'GoshaSansRegular', sans-serif;
$homeFontBold: 'GoshaSansBold', Sans-Serif;
//----------------------------------*\
// COLORS
//----------------------------------*/
$brightColor: #E4654C;
$textColor: #EAE0CA;
$paperDark: #1F1F1F;

$darkBlue: #124a58;
$yellow: #FFBE0F;
$mainBg: #F9FBFF;
$sidebarColor: #E8EBF3;
$whiteColor: #ffffff;

//$paperDark: #1F1F1F;
//$paperWhite: #EAE0CA;
//$paperRed: #E4654C;
