//----------------------------------*\
// FONTS
//----------------------------------*/
$homeFontRegular: 'GoshaSansRegular', sans-serif;
$homeFontBold: 'GoshaSansBold', Sans-Serif;
//----------------------------------*\
// COLORS
//----------------------------------*/
$btnColor: #8932A2;
$btnTextColor: #fff;
$darkBlue: #124a58;
$yellow: #FFBE0F;
$mainBg: #F9FBFF;
$sidebarColor: #E8EBF3;
$whiteColor: #ffffff;
