@import 'src/styles/alternate';
@import 'src/styles/common';

.prev-page-btn {
  background-image: url('~src/assets/img/svg/prev-page-arrow.svg');
  width: 35px;
  border: 0;
  height: 35px;
  display: block;
  z-index: 200;
  cursor: pointer;
  transition: .2s;
  position: absolute;
  margin-top: 1%;
  top: 0;
  left: 0;
  &:hover {
    opacity: 0.4;
    transition: .2s;
  }
  &:focus {
    outline: none;
    outline-offset: 0;
  }
  &:active {
    outline: none;
    outline-offset: 0;
    opacity: 0.4;
    transition: .2s;
  }
}
