@import 'src/styles/alternate';

span {
  font-family: $homeFontBold;
  font-weight: 700!important;
  font-size: 30px;
}

h1 {
  font-family: GoshaSansBold, sans-serif;
  font-weight: 700!important;
  font-size: 30px;
}
